<!DOCTYPE html>
<html>
  <head>
    <title>About | Pay It Forward</title>
  </head>
  <body>
    <h1>About</h1>

<h1>About Pay It Forward</h1>
<p>Here at Pay It Forward, we believe that one small act of kindness can dramatically impact
  someone's day. We all live in society filled with oxymorons. One obvious one to us is the great excess in our daily lives
  mixed with the extreme hardship on certain communities. This site serves as an online forum where people can come together
  and exchange items they have extra of. Being able to help your neighbor truly will make our world a better place. So what
are you waiting for? <p>
