<!DOCTYPE html>
<html>
  <head>
    <title>Help | Pay It Forward</title>
  </head>
  <body>
    <h1>Help</h1>

<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

</body>
</html>
