<!DOCTYPE html>
<html>
  <head>
    <title>Home | Pay It Forward</title>
  </head>
  <body>


  <h1>Pay It Forward</h1>
  <p style="margin-top: 10px;"> A little bit of kindess goes a long way </p>
   <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    
 </body>
</html>
