<div class="users">

<div class="col-md-6 col-md-offset-3">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Description</th>
  <td><%= f.text_field(:description) %></td>
  </tr>
  <tr>
    <th>Donating Item?</th>
    <td> <%= f.check_box :extra %> 
</td>
  
</div>
</div>

