<!--modified from railstutorial.org-->

<% provide(:title, 'Item List')%>
<div class="row">
    <section class="item_info">
   <span class="name"><%= item.name %></span>
  <span class="description"><%= item.description %></span>
</div>

